*{

    margin: 0;
    padding: 0;

}
body{
    font:600 100%"Helvetica Neue",Arial,Sans-serif;
    line-height: 160%;
    margin-top: 50px;
    background-color: rgb(68, 68, 68);
}

.menu{
    max-width: 300px;
    list-style: none;
}