*{
  font-family: 'Itim', cursive;
}
ul{
  list-style-type:none ;
  background-color: rgb(41, 240, 23);
  padding-left: 0;
  margin: 0;
  text-align: center; 
  padding: 10px;
}
nav{
  background-color: rgb(41, 240, 23);
  margin: 0;
  box-shadow:0 0 10px rgba(0, 0, 0, .5) ;
}
li{
  display: inline;   
}
a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 10px;
  
}
a:hover{
  font-weight: bold;
  text-decoration:underline;
}
body{
  margin: 0 0 0 0;
}
div{
  border: 5px solid black;
  border-radius: 50px;
}